{% extends "layout.twig" %}

{% block theme %}material{% endblock %}
{% block transition %}slide{% endblock %}

{% block content %}
<section data-markdown data-transition="linear" data-background="#2d95e3" style="color:#fff;">
  # ASOS
  ### (Antistatique Open Source)
</section>

<section style="background:none;box-shadow:none;">
  <h2>Open Source ?</h2>
</section>

<section>
  <img src="img/asos/github.jpg">
  <br><br>
</section>

<section>
  <img src="img/asos/stars.png">
</section>

<section>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="row">
        <div class="col-sm-6"><img src="img/asos/lo.png" class="img-responsive fragment"></div>
        <div class="col-sm-6"><img src="img/asos/wp.png" class="img-responsive fragment"></div>
      </div>
      <div class="row">
        <div class="col-sm-6"><img src="img/asos/drupal.png" class="img-responsive fragment"></div>
        <div class="col-sm-6"><br><img src="img/asos/gimp.png" class="img-responsive fragment"></div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <br><br>
      <img src="img/asos/linux.png" class="img-responsive">
      <br><br>
    </div>
  </div>
</section>

<section style="background:none;box-shadow:none;">
  <h2>@ Antistatique ?</h2>
</section>

<section>
  <br><br>
  <p class="quote">
    Easy, <span class="fragment">all the code that we use is open-source :sweat_smile:</span>
    <br><br>
    <small class="fragment"><i>(Exept maybe Magento plugins...)</i></small>
  </p>
  <br><br>
</section>

<section>
  <h3>It means :</h3>
  <ul>
    <li class="fragment">Tools</li>
    <li class="fragment">CMS</li>
    <li class="fragment">Frameworks</li>
    <li class="fragment">Widgets</li>
    <li class="fragment">...</li>
  </ul>
</section>

<section class="text-center">
  <br><br>
  <a href="http://frontend.github.io/toolbox/">
    <img src="img/asos/toolbox-brand.png">
  </a>
  <br><br>
</section>

<section>
  <h3>We are half way...</h3>
  <br>
  <p>We are using atomic components<span class="fragment">, only for the styleguide</span></p>
</section>

<section class="text-center">
  <br><br>
  <img src="img/asos/morpheus.jpg">
  <br><br>
</section>

<section>
  <p class="quote">
    <b>Toolbox</b> build components/styleguide with Handlebars template engine. <span class="fragment">
    <br><br>But we can write a new builder</span><span class="fragment"> to use <b>any template engine</b></span><span class="fragment"> and easily include our components to <b>any project</b> !</span>
  </p>
</section>

<section class="text-center">
  <br><br>
  <img src="img/asos/atomic.jpg">
  <br><br>
</section>

<section>
  <h3>Time Budget project</h3>
  <br>
  :clock10: <a href="https://github.com/antistatique/time-budget">antistatique/time-budget</a>
  <br><br>
</section>

<section>
  <ul>
    <li class="fragment">Define time budget by project by branch</li>
    <li class="fragment">Keep an eye on it :eyes:</li>
    <li class="fragment">Send alert/notification</li>
  </ul>
</section>

<section style="background:none;box-shadow:none;">
  <h2>And what advantage ?</h2>
</section>

<section data-background="img/asos/shocked.gif" style="background:none;box-shadow:none;">
</section>

<section>
  <ul>
    <li class="fragment">Moving tools/web forward</li>
    <li class="fragment">Good looking</li>
    <li class="fragment">Learning things :+1:</li>
  </ul>
</section>

<section>
  :point_right: <b><a href="http://antistatique.github.io">antistatique.github.io</a></b>
</section>
{% endblock %}
