{% extends "layout.twig" %}

{% block theme %}material{% endblock %}
{% block transition %}fade{% endblock %}

{% block content %}
<section>
  <ul>
    <li class="arrow">Atome</li>
    <li class="arrow mine">Molécule</li>
    <li class="arrow">Organisme</li>
    <li class="arrow mine">Template</li>
    <li class="arrow">Page</li>
  </ul>
</section>
{% endblock %}