{% extends "layout.twig" %}

{% block theme %}material{% endblock %}
{% block transition %}fade{% endblock %}

{% block content %}
<section>
  <p>
    bonjour
  </p>
  <div class="avatar-wrapper bubble">
    <div class="avatar"><img src="../img/modular/client-1.jpg"><p style="font-size:20px;">J'aimerai ajouter une nouvelle page à mon site.</p></div>
    <div class="avatar"><img src="../img/modular/designer-1.jpg" class="fragment"><p class="fragment" style="font-size:20px;">Ça fera 5 jours de travail</p></div>
  </div>
</section>
{% endblock %}