{% extends "layout.twig" %}

{% block theme %}material{% endblock %}
{% block transition %}fade{% endblock %}

{% block content %}


<section>
  <iframe src="/data/pie.html?data=test.csv" width="425px" height="425px" style="margin:0 auto;display:block;" frameborder="0"></iframe>
</section>

{% endblock %}