{% extends "layout.twig" %}

{% block theme %}material{% endblock %}
{% block transition %}fade{% endblock %}

{% block content %}
<section>
  <pre><code data-language="javascript">
var gulp = require('gulp'),
$ = require('gulp-load-plugins')(),
browserSync = require('browser-sync'),
reload = browserSync.reload,
runSequence = require('run-sequence');
  </code></pre>
</section>
{% endblock %}