{% extends "layout.twig" %}

{% block theme %}material{% endblock %}
{% block transition %}fade{% endblock %}

{% block content %}


<section>
  <iframe src="/data/lines.html?data=test.tsv" width="100%" height="800px" style="margin:0 auto;display:block;" frameborder="0"></iframe>
</section>

{% endblock %}