@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Roboto:400,900,400italic,900italic,300,300italic);

// Init ------------------------------------
@import 'material-variables';
@import 'bootstrap';

// LAYOUT ----------------------------------
@import '../layout/buttons';
@import '../layout/code';
@import '../layout/form';
@import '../layout/icons';
@import '../layout/images';
@import '../layout/tables';
@import '../layout/typography';

// COMPONENTS -------------------------------
@import '../components/alerts';
@import '../components/badges';
@import '../components/breadcrumb';
@import '../components/button-groups';
@import '../components/input-groups';
@import '../components/jumbotron';
@import '../components/labels';
@import '../components/list-group';
@import '../components/media';
@import '../components/nav';
@import '../components/navbar';
@import '../components/pager';
@import '../components/paginations';
@import '../components/panels';
@import '../components/progress-bar';
@import '../components/thumbnails';
@import '../components/well';
@import '../components/card';
@import '../components/avatar';
@import '../components/arrow';

// JAVASCRIPT WIDGET -------------------------
@import '../javascript/alert';
@import '../javascript/buttons';
@import '../javascript/carousel';
@import '../javascript/collapse';
@import '../javascript/dropdown';
@import '../javascript/modal';
@import '../javascript/popover';
@import '../javascript/scrollspy';
@import '../javascript/tab';
@import '../javascript/tooltips';

// CUSTOM COMPONENTS -------------------------

body {
  background: $dust;
  background: -moz-linear-gradient(top, $dust 0%, $white 45%, $white 55%, $dust 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, $dust), color-stop(45%, $white), color-stop(55%, $white), color-stop(100%, $dust));
  background: -webkit-linear-gradient(top, $dust 0%, $white 45%, $white 55%, $dust 100%);
  background: -o-linear-gradient(top, $dust 0%, $white 45%, $white 55%, $dust 100%);
  background: -ms-linear-gradient(top, $dust 0%, $white 45%, $white 55%, $dust 100%);
  background: linear-gradient(to bottom, $dust 0%, $white 45%, $white 55%, $dust 100%);
}

.fade {opacity: 1;}

section {

  text-align: left;
  padding: 30px 50px !important;
}





